<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="./post-profile-giaobao.html" class="m-5 mt-3">
                                <img src="../public/images/avatars/avt-bao.jpg" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a  href="./post-profile-giaobao.html" class="author-name " >
                                    <p  class=""><b>Bảo thích ăn bánh cuốn :3</b>
                                        <img  src="../public/images/level.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>19:22 ngày 01/01/2024 tại
                                    <a href="" style="text-decoration: none; color: orangered;">Bánh cuốn đêm,</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                        <div class="carousel-inner">
                            <div class="carousel-item c-item active">
                                <img src="../public/images/foods/banhcuon/intro1.jpeg" class="w-auto d-block c-img" alt="">
                            </div>  
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/banhcuon/intro2.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/banhcuon/intro3.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/banhcuon/intro4.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                           
                           
                            <button class="carousel-control-prev" 
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
    
                            <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>



                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/banhcuon/intro1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/banhcuon/intro2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/banhcuon/intro3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/banhcuon/intro4.jpeg" class=" b-img" alt="">
                            </button>
                            
     
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;">Chưa có đánh giá</span> 
                            <span style="color: rgb(112, 112, 112);">(1 Riviu)</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">Bánh Cuốn Bán Giờ Đêm</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Bánh cuốn đêm - giờ nghệ sĩ.

🏠🏠🏠 Địa chỉ: 192E Cách Mạng Tháng 8 P10 Q3 ( đối diện câu lạc bộ Lanh Anh ).

💸💸💸 Giá: 25k ( thập cẩm )

🕢 - 🌑 19h30 - 0h

👱👱👱👱👩👩👩👩

- Đây là tiệm bánh cuốn mình ăn cũng khá lâu rồi, hôm nay nhà kêu thèm bánh cuốn nên chạy ra mua. Thật sự cái xe bánh cuốn này nó bán giờ giấc cũng khó đoán lắm. Có hôm nghỉ sảng có hôm ra trễ. Đặc biệt chủ nhật cũng hay off nữa ( y như bán giờ hành chánh ).

- Quán lề đường thôi à nhìn vỏn vẹn có 1 cái xe bán và 2 bàn khách ngồi ăn thôi, nên mua về đông lắm. Ngồi ăn thì kế bên có bán sữa đậu nành gì đó chưa uống bao giờ. Chỉ trung thành với trà đá.

- 1 Phần đầy đủ như hình là 25k lên giá rồi, ăn từ hồi giá có 16k - 18k - 22k giờ chẵn tiền 25k rồi.. Phần gồm 3 loại chả và núm rau, tầm 2 cuốn rưỡi á.

- Bánh cuốn luôn được tráng nóng tại chỗ khi khách mua mới làm chứ k có vụ làm gói hộp sẵn nên cứ yên tâm là luôn nóng mới. Bánh cuốn ở đây thơm mùi bột gạo nhất, nhà mình cũng ưng ý ở đây mỗi khi muốn ăn thì ra mua.

- 🍪 chả ở đây ngon nha các bạn, chả lụa thì như nhau. Có cục chả chiên gì đó có gân gân ăn lạ ngon lắm, cảm giác rất ngon.. Nước mắm thì vừa vị ko quá ngọt cũng ko quá mặn nè.. Ngon hay dở nằm ở nước mắm hết..

- Một phần ăn như vậy theo mình là ít so với mình nhưng đủ no với mọi người nhất là mấy bạn nữ ăn yếu. Món ăn hài hoà từ bánh cuốn tới chả và hết xảy khi rưới nước mắm lên... 🙆

👇👇👇👇👇👇👇👇

+ Món ăn ngon đáng để ăn từ chất lượng bánh cuốn tới mọi thứ trong đĩa đồ ăn. Rau cũng tươi
8/10.
+ Cô buôn bán vui tính, dễ chịu phục vụ làm ra món cũng nhanh lắm. Tay cô làm liên tục hơn múa quyền nữa. 9/10
+ Quán mặt tiền lề đường lớn quận 3- 10 nhưng mà quán ko phù hợp ngồi ăn tán gẫu hay ngồi số đông được đâu. 6/10
+ Xét về tủ đồ ăn thì rất ngăn nắp các nguyên liệu và bàn ăn lúc nào cũng sạch khi khách vừa rời khỏi. 9/10
+ Nằm ở trung tâm quận 3 giáp quận 10 lân cận quận Tân Bình mà chỉ có 25k phần theo mình giá vậy là ổn. 9/10

👈👉👈👉👈👉👈👉👈

🙌 Các tín đồ của món Bánh cuốn này thì nên đến ăn thử 1 lần. Mình cũng đi ăn bánh cuốn nhiều chỗ rồi nhưng chỗ này mình ưng ý nhất..Nhà cũng khó ăn mà má mình lại chịu cho này. Mỗi người mỗi khẩu vị có thể bạn dở mình ngon. Các bạn nên đi trễ xíu tầm 20h là được. Cô bán dành cho dân về khuya ăn là chính.
                            
                            
                            
                           
                            
                            </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodieHoChiMinh
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodblogger
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #riviu2022
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #HCMfood
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #anphowithme
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #SaiGon
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #reviewfood
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #foodie
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #TPHoChiMinh
                            </div>
                        </a>
                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/banhcuon/avatar.jpeg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">bánh cuốn đêm</div>
                                </a>
    
                                <h6 class="address">
                                    192E CMT8 , Phường 10, Quận 3, Hồ Chí Minh
                                    Thời gian: Đang mở cửa (9:00 - 22:00)
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">Chưa có đánh giá</span> 
                                        <span style="color: rgb(112, 112, 112);">(5 Riviu)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                522 người yêu thích
                            </span>
                            <b class="" style="float: right;">1 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                                <a href="#" class="avatar">
                                    <img src="../public/images/avater2.png" alt="">
                                </a>

                                <div class="comment-info flex-fill">
                                    <div class="commemt-name">
                                        <a href="#">
                                            <b>Hai Anh</b>
                                        </a>
                                        <small class="">22/02/2024 lúc 20:22</small>
                                        <p class="mt-2" style="font-size: 16px;">Bánh cuốn ở đây rất ngon :3 rất đáng để trải nghiệm nhé các tín đồ đồ ăng :3<br><span class="rep">Trả lời</span></p>
                                    </div>   
                                </div>


                                <i class="ti-heart"></i>
                            </div>


                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <a href="./post-profile-giaobao.html">
                                <img src="../public/images/avatars/avt-bao.jpg" style="width: 70px;" class="rounded-circle" alt="">
                            </a>
                        </div>                        
                        <div class="author-info ml-3">
                            <a  href="./post-profile-giaobao.html" class="author-name " >
                                <p  class="m-0"><b>Bảo thích ăn bánh cuốn :3</b>
                                    <img  src="../public/images/level.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@giabao</div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>1</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>

                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhcuon/post1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">TeenMi - Trà Sữa & Bánh Tráng</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-banhcuon1.jpeg" alt="">
                                                <div class="text-muted">Tú Péo Ú</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhcuon/post5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Miss Đác - chè không ngọt</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-banhcuon2.png" alt="">
                                                <div class="text-muted">Ăn nhăng nhăng</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhcuon/post2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">SEA TEA - Trà Dâu</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-banhcuon3.png" alt="">
                                                <div class="text-muted">Minh Châu</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhcuon/post3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Trà sữa Hana Yumi</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-banhcuon4.jpeg" alt="">
                                                <div class="text-muted">Ariel Cá Cá</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhcuon/post4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">SOKUN - Sữa Chua Kem Trân Châu - Lê Lợi</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-4.jpeg" alt="">
                                                <div class="text-muted">Lê Mỹ Nhàn</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/post.js"></script>

</body>
</html>