<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="./post-profile-thaian.html" class="m-5 mt-3">
                                <img src="../public/images/avatars/avt-thai-an.jpg" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a  href="./post-profile-thaian.html" class="author-name " >
                                    <p class=""><b>Thái An thích vi vu</b>
                                        <img  src="../public/images/level.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>10:22 ngày 05/02/2024 tại
                                    <a href="" style="text-decoration: none; color: orangered;">📍📍📍Bánh Mì Thịt Bò Nướng📍📍📍,</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                    <div class="carousel-inner">
                        <div class="carousel-item c-item active">
                            <img src="../public/images/foods/banhmi/intro1.jpeg" class="w-auto d-block c-img" alt="">
                        </div>  
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro2.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro3.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro4.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro5.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro6.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro7.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro8.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <div class="carousel-item c-item">
                            <img src="../public/images/foods/banhmi/intro9.jpeg" class="w-auto d-block c-img" alt="">
                        </div>
                        <button class="carousel-control-prev" 
                        type="button"
                        data-bs-target="#carouselDemo"
                        data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>

                        <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselDemo"
                        data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>



                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/banhmi/intro1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/banhmi/intro2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/banhmi/intro3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/banhmi/intro4.jpeg" class=" b-img" alt="">
                            </button>
                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="4">
                                <img src="../public/images/foods/banhmi/intro5.jpeg" class=" b-img" alt="">
                            </button>
                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="5">
                                <img src="../public/images/foods/banhmi/intro6.jpeg" class=" b-img" alt="">
                            </button>
                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="6">
                                <img src="../public/images/foods/banhmi/intro7.jpeg" class=" b-img" alt="">
                            </button>
                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="7">
                                <img src="../public/images/foods/banhmi/intro8.jpeg" class=" b-img" alt="">
                            </button>
                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="8">
                                <img src="../public/images/foods/banhmi/intro9.jpeg" class=" b-img" alt="">
                            </button>
                            

                            
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;">Chưa có đánh giá</span> 
                            <span style="color: rgb(112, 112, 112);">(2 Riviu)</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">BÁNH MÌ XÍU MẠI TRỨNG MUỐI - Hội Cuồng Trứng Muối không nên bỏ lỡ 😱😱✨</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Thiệt sự mình hơi bị nghiện mấy món có Trứng Muối 😂, nên Kai vừa thấy hình ổ bánh mì này trên mạng với quả Trứng muối nằm “phơi mình” thú thật tui kìm lòng không nổi nên phải đi ăn ngay đó... 😝✨
                            .
                            mình gọi một ổ #XíuMạiTrứngMuốiĐặcBiệt 🤩 (32K/ Ổ) với tận 3 viên Xíu Mại Trứng Muối siêu to khổng lồ nghen. #ThịtXíuMại mềm tan béo ngậy nhưng vẫn có chút dai dai của thịt chất lượng lắm, nêm nếm vừa ăn, thơm tiêu nên khá bắt miệng. Mỗi cục Xíu Mại sẽ “ôm trọn” NỬA quả #TRỨNGMUỐI ✨ nên khi ăn phần trứng muối sẽ cực kì nổi bật, béo ngậy thích lắm cơ... 🤤
                            Phần rau🥬 và đồ chua ăn kèm cũng khá chất lượng. Nổi bật nhất phải kể đến đó là Mỡ Hành Tóp Mỡ✨ ở đây, ta nói miếng #TópMỡ nào cũng to tướng có thêm phần da bên trên giòn tan thơm lừng... 😚 Bánh Mì khi ăn sẽ được chan nhẹ một xíu nước mắm pha kẹo, ngọt ngọt cay cay🔥, bạn nào mua mang đi thì cô bán hàng sẽ bỏ bịch nước mắm riêng nè, khá tiện lợi nhen! 😉
                            Vỏ Bánh Mì giòn, không đặc ruột khi ăn không gặp tình trạng “rơi rớt” phần nhân. 😚
                            Ở đây ngoài Xíu Mại Trứng Muối thì còn có nhiều loại nhân khác nhau như: Cá Nục 🐟🥫, Xíu Mại Thường, Bò Nướng🐂🔥 và Bì. Bạn nào ăn thử rồi thì comment cho Kai biết nhé. 🤗
                            .
                            Bạn nào mà ăn ít hơn tui thì có thể kêu ổ 2 Viên Xíu Mại Trứng Muối chỉ (24K/ Ổ) thôi. 😘
                            Túm lại tui thấy Bánh Mì ở đây ngon, giá hợp lí, cô chủ vui vẻ phục vụ nhanh gọn cùng với một quầy bán hàng cực kì HẤP DẪN và SẠCH SẼ nên DUYỆT...... ✅✅✅✅✅✅
                            .
                            📍📍📍Bánh Mì Thịt Bò Nướng📍📍📍
                            ——6 Hồ Xuân Hương, Bình Thạnh——
                            ➖➖➖🕖07:00 to 10:00🕙➖➖➖
                            ➖➖➖🕐13:00 to 18:30🕡➖➖➖
                            —————————————————————
                            
                            Follow 📺Instagram @anvivu.food để cùng KAI khám phá hàng quán khắp mọi nơi nhe
                            
                            🌟🌟🌟@anvivu.food🌟🌟🌟
                            
                            
                            
                            
                           
                            
                            </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodieHoChiMinh
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodblogger
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #riviu2022
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #HCMfood
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #anphowithme
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #SaiGon
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #reviewfood
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #foodie
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #TPHoChiMinh
                            </div>
                        </a>
                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/banhmi/avatar.jpg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">📍📍📍Bánh Mì Thịt Bò Nướng📍📍📍</div>
                                </a>
    
                                <h6 class="address">
                                    6 Đ. Hồ Xuân Hương, Phường 14, Bình Thạnh, Thành phố Hồ Chí Minh
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">Chưa có đánh giá</span> 
                                        <span style="color: rgb(112, 112, 112);">(1 Riviu)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                522 người yêu thích
                            </span>
                            <b class="" style="float: right;">1 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                                <a href="#" class="avatar">
                                    <img src="../public/images/avater2.png" alt="">
                                </a>

                                <div class="comment-info flex-fill">
                                    <div class="commemt-name">
                                        <a href="#">
                                            <b>Lam Cuong</b>
                                        </a>
                                        <small class="">12/02/2024 lúc 19:22</small>
                                        <p class="mt-2" style="font-size: 16px;">❤️ Bánh mì ở đây rất ngon mình ăn nhiều lần rồi mà vẫn ghiền :3, nên rủ bạn bè đi chung nhé mọi người ơii<br><span class="rep">Trả lời</span></p>
                                    </div>   
                                </div>


                                <i class="ti-heart"></i>
                            </div>


                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <a href="./post-profile-thaian.html">
                                <img src="../public/images/avatars/avt-thai-an.jpg" style="width: 70px;" class="rounded-circle" alt="">
                            </a>
                        </div>                        
                        <div class="author-info ml-3">
                            <a href="./post-profile-thaian.html" class="author-name " >
                                <p class="m-0"><b>Thái An thích vi vu</b>
                                    <img  src="../public/images/level.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@thaian0502</div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>1</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>

                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhmi/post1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Lancungnini</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-1.jpeg" alt="">
                                                <div class="text-muted">Gia Hân</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhmi/post5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Miss Đác - chè không ngọt</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-2.jpeg" alt="">
                                                <div class="text-muted">Ăn nhăng nhăng</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhmi/post2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Chè Lâm Thạnh</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-3.jpeg" alt="">
                                                <div class="text-muted">Gia Hân</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhmi/post3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">MAO TEA Coffee</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-4.jpeg" alt="">
                                                <div class="text-muted">Lê Mỹ Nhàn</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/banhmi/post4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Tiệm Chè Hương Cảng</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-4.jpeg" alt="">
                                                <div class="text-muted">Lê Mỹ Nhàn</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/post.js"></script>

</body>
</html>