<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riviu - Địa Điểm Ăn Uống, Du Lịch & Đời Sống</title>
    <link rel="icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="" class="m-5 mt-3">
                                <img src="../public/images/foods/comga/author.jpeg" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a  href="#" class="author-name " >
                                    <p  class=""><b>Vòng eo bánh mì</b>
                                        <img  src="../public/images/foods/comga/lv4.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>02:09 ngày 01/12/2020 tại 
                                    <a href="" style="text-decoration: none; color: orangered;">Cơm Gà Xối Mỡ Mộc</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                        <div class="carousel-inner">
                            <div class="carousel-item c-item active">
                                <img src="../public/images/foods/comga/comga1.jpeg" class="w-auto d-block c-img" alt="">
                            </div>  
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comga/comga2.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comga/comga3.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comga/comga4.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                           
                           
                            <button class="carousel-control-prev" 
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
    
                            <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>



                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/comga/comga1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/comga/comga2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/comga/comga3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/comga/comga4.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="4">
                                <img src="../public/images/foods/comga/comga5.jpeg" class=" b-img" alt="">
                            </button>
     
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;">5.0 /5 điểm</span> 
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">🥗🍗 QUÁN CƠM GÀ MỘC MẠC TRONG CON HẺM NHỎ🥗</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Đây là quán cơm thân quen mình bị ghiền khi vô tình order 1 lần qua app. Mà thấy trên app có hiện địa chỉ nên mạnh dạn đến thắng quán để ăn cũng như kiểm chứng xem có sạch sẽ, vệ sinh hong. Sau đó mới lên giới thiệu cho mng áhhh, mình hay đến các quán trên app để mua hay order cho yên tâm. Vì nói thật khuất mặt khuất mày ngta làm gì mình sẽ hongg thể biết được, nên cứ có điều kiện mình sẽ đến quán ăn 1 vài lần cho an tâm🤣🤣

                            Ở đây cơm chiên là chị chủ chiên theo kiểu cơm chiên tỏi đó mng, cực kì thơm ngon và bắt vị lắm. Khác hoàn toàn cơm màu vàng vàng ở những hàng quán thông thường. Gà chiên vừa tới không khô ran, các loại sốt hay mắm tỏi của chị rất đậm đà vị nào ra vị đó. Trứng chiên là mình gọi thêm, chị có chiên 2 kiểu: opla với khuấy trứng áh.
                            Thích nhất là cái đĩa rau dưa ăn kèm nhìn là thấy có tâm lắm lun hen cả chén canh nữa (canh hong bị bột ngọt nhen)
                            
                            🏠 159/91 Trần Văn Đang, p11, q3
                            💸 Từ 28k thui nhen
                            ⏰ 15h-21h
                           
                            </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #comga
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodblogger
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #baemin
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #HCMfood
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #vongeobanhmi
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #SaiGon
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #reviewfood
                            </div>
                        </a>

                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/comga/comgabelow.jpeg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">Cơm Gà Xối Mỡ Mộc</div>
                                </a>
    
                                <h6 class="address">
                                    159/91 Trần Văn Đang, P11, Quận 3
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">5</span> 
                                        <span style="color: rgb(112, 112, 112);">(2 Riviu)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                308 người yêu thích
                            </span>
                            <b class="" style="float: right;">1 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                                <a href="#" class="avatar">
                                    <img src="../public/images/avater2.png" alt="">
                                </a>

                                <div class="comment-info flex-fill">
                                    <div class="commemt-name">
                                        <a href="#">
                                            <b>Dung Ngọc</b>
                                        </a>
                                        <small class="">10/03/2024 lúc 12:05</small>
                                        <p class="mt-2" style="font-size: 16px;">Ngon, đặc trưng riêng lắm!!<br><span class="rep">Trả lời</span></p>
                                    </div>   
                                </div>


                                <i class="ti-heart"></i>
                            </div>


                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <img src="../public/images/foods/comga/author.jpeg" style="width: 70px;" class="rounded-circle" alt="">
                        </div>                        
                        <div class="author-info ml-3">
                            <a  href="#" class="author-name " >
                                <p  class="m-0"><b>Vòng eo bánh mì</b>
                                    <img  src="../public/images/foods/comga/lv4.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@Vongeobanhmi </div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>86</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>2</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>92</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>

                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comga/comgaO1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">🍟🍗 GÀ RÁN LÚC NỬA ĐÊM🥤🍟</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comga/author.jpeg" alt="">
                                                <div class="text-muted">Vòng eo bánh mì</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comga/comgaO2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">🍗CƠM GÀ PT NGON MÀ GIÁ LẠI PHẢI CHĂNG</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comga/author.jpeg" alt="">
                                                <div class="text-muted">Vòng eo bánh mì</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">45</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comga/comgaO3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">🥗 CHÚT SALAD CHO NHỮNG NGÀY HEALTHY 🥗</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-anvat2.jpeg" alt="">
                                                <div class="text-muted">Vòng eo bánh mì</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">13</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comga/comgaO4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">CƠM GÀ XỐI MỠ SỐT TIÊU ĐEN</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comga/author.jpeg" alt="">
                                                <div class="text-muted">Vòng eo bánh mì</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">820</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comga/comgaO5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">🍿🍗 POPCORN THỊT GÀ QUEN MUỐN CHỚT</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comga/author.jpeg" alt="">
                                                <div class="text-muted">Vòng eo bánh mì</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">286</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/post.js"></script>

</body>
</html>