<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riviu - Địa Điểm Ăn Uống, Du Lịch & Đời Sống</title>
    <link rel="icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="./post-profile-camtien.html" class="m-5 mt-3">
                                <img src="../public/images/avatars/an-vo-va-ban-gai-2.jpg" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a  href="./post-profile-camtien.html" class="author-name " >
                                    <p class="">
                                        <b>Cẩm Tiên</b>
                                        <img  src="../public/images/foods/comtam/lv6.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>18:48 ngày 13/01/2021 tại
                                    <a href="" style="text-decoration: none; color: orangered;"> Cơm tấm Phạm Vấn</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                        <div class="carousel-inner">
                            <div class="carousel-item c-item active">
                                <img src="../public/images/foods/comtam/comtam1.jpeg" class="w-auto d-block c-img" alt="">
                            </div>  
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comtam/comtam2.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comtam/comtam3.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comtam/comtam4.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/comtam/comtam5.jpeg" class="w-auto d-block c-img" alt="">
                            </div>

                            <button class="carousel-control-prev" 
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
    
                            <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>



                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/comtam/comtam1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/comtam/comtam2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/comtam/comtam3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/comtam/comtam4.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="4">
                                <img src="../public/images/foods/comtam/comtam5.jpeg" class=" b-img" alt="">
                            </button>
                            
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;"> 5.0 /5 điểm</span> 
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">Tự review tự thấy hại thân 🤤</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Thôi không review dài dòng chỉ muốn nói ngắn gọn là : PHẢI THỬ chữ Ử kéo dài vì sườn siêu ngon ❤️
                            Ngoài sườn bì chả cơ bản..ở đây mấy cô còn bán lạp xưởng nướng, trứng kho da heo, chà bông cá hấp dẫn lắm mí bác ơi
                            🏠 74C Phạm Vấn, Tân Phú - bán từ 4,5h sáng tới 12h
                            Giá 3 món : 40k
                        </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #comtam
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #saigon
                            </div>
                        </a>
                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/comtam/comtamBelow.jpeg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">Cơm tấm Phạm Vấn</div>
                                </a>
    
                                <h6 class="address">
                                    74C Phạm Vấn, Phường Phú Thọ Hòa, Quận Tân Phú, Hồ Chí Minh
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">5</span> 
                                        <span style="color: rgb(112, 112, 112);">(1 đánh giá)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                31 người yêu thích
                            </span>
                            <b class="" style="float: right;">0 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                            </div>
                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <a href="./post-profile-camtien.html">
                                <img src="../public/images/avatars/an-vo-va-ban-gai-2.jpg" style="width: 70px;" class="rounded-circle" alt="">
                            </a>
                        </div>                        
                        <div class="author-info ml-3">
                            <a  href="./post-profile-camtien.html" class="author-name " >
                                <p  class="m-0"><b>Cẩm Tiên</b>
                                    <img  src="../public/images/foods/comtam/lv6.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@camtienxingai</div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>3</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>18k</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>1</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>

                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comtam/comtamO1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Cơm tấm ngon ngon</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comtam/author.jpeg" alt="">
                                                <div class="text-muted">meoconthichhat</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">46</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comtam/comtamO2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Ae ghiền cơm tấm thì bơi vô nha</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comtam/author.jpeg" alt="">
                                                <div class="text-muted">meoconthichhat</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">12</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comtam/comtamO3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title"> cơm Tấm style Long Xuyên giữa SG</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comtam/author.jpeg" alt="">
                                                <div class="text-muted">meoconthichhat</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">5</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comtam/comtamO4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Làm miếng cơm tấm không anh em? 😌😌</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comtam/author.jpeg" alt="">
                                                <div class="text-muted">meoconthichhat</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">25</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/comtam/comtamO5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Cơm tấm ngon hơn người yêu cũ 😋</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/foods/comtam/author.jpeg" alt="">
                                                <div class="text-muted">meoconthichhat</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">8</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/post.js"></script>
</body>
</html>