<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/custom/contact.css">
</head>
<body>
    <div class="container py-5">
        <h1 class="text-center">Giới thiệu về đề tài</h1>
        <div class="gioi-thieu">
            <div class="info">
                <div class="text_info">
                    <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <h2 class="g-lg-5">I.Mở đầu</h2>
                        
                        Chào mừng bạn đến với trang web của chúng tôi - một điểm đến không thể bỏ qua cho những ai đam mê ẩm thực và muốn khám phá thế giới ẩm thực đa dạng.
                        Chúng tôi tự hào cung cấp một nền tảng đánh giá địa điểm ăn uống hàng đầu, cho phép cộng đồng người sử dụng chia sẻ và đánh giá các quán ăn dựa trên
                        trải nghiệm cá nhân của họ. Bằng cách này, bạn có thể dễ dàng tìm ra những địa điểm phù hợp nhất với khẩu vị và mong muốn của mình. <br>

                        <h2 class="g-lg-5" >II.Giới thiệu</h2>
                        Ngoài việc cung cấp thông tin đánh giá, trang web của chúng tôi còn là nguồn thông tin đáng tin cậy về các món ăn và đồ uống đặc biệt tại mỗi địa điểm.
                        Bạn có thể khám phá những món ngon nhất, từ những món truyền thống đậm đà hương vị đến những sáng tạo mới lạ đầy sức hút. Chúng tôi không chỉ cung cấp 
                        cái nhìn tổng quan mà còn chi tiết về trải nghiệm ẩm thực tại các địa điểm khác nhau, giúp bạn có quyết định đúng đắn khi lựa chọn địa điểm ăn uống. <br>

                        <h2 class="g-lg-5">III.Tính năng</h2>
                        Để giúp bạn tiết kiệm thời gian và năng lượng trong việc tìm kiếm địa điểm ăn uống, chúng tôi cung cấp tính năng tìm kiếm thông minh. Bạn có thể dễ dàng 
                        lọc các địa điểm theo vị trí, loại hình, giá cả và nhiều tiêu chí khác. Tính năng này không chỉ giúp bạn tìm ra những quán ăn phù hợp với nhu cầu của mình 
                        mà còn khám phá những địa điểm mới một cách nhanh chóng và thuận tiện. <br>

                        <h2 class="g-lg-5">IV.Kết luận</h2>
                        Cuối cùng, chúng tôi khuyến khích bạn tham gia vào cộng đồng của chúng tôi bằng cách đăng nhập và đăng ký tài khoản. Tham gia thảo luận, đánh giá và chia sẻ 
                        về các địa điểm ăn uống mà bạn đã trải nghiệm là cách tuyệt vời để tạo ra một môi trường cộng đồng chia sẻ thông tin và kinh nghiệm về ẩm thực. Chúng tôi hy 
                        vọng rằng trang web của chúng tôi sẽ giúp bạn có những trải nghiệm ẩm thực tuyệt vời và đáng nhớ!
                    </p>
                </div>

            </div>
        </div>
        <div class="content">
        <h1 class="text-center">Giới thiệu các thành viên trong nhóm</h1>
        <div class="row">
            <div class="col-md-6 py-4" style="display: flex; justify-content: center;">
                <div class="card" style="width: 28rem">
                    <img src="../public/images/avatars/avt-thai-an.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nguyễn Thái An</h5>
                        <p class="card-text">
                            Họ và tên: Nguyễn Thái An <br>
                            Mã số sinh viên:  22656871 <br>
                            Lớp: DHHTTT18ATT <br>
                            Chuyên ngành: Hệ thống thông tin
                        </p>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <h3>Liên hệ</h3>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100046706508281">  
                                <button class="btn btn-primary bnt-link">Qua facebook</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-4" style="display: flex; justify-content: center;">
                <div class="card" style="width: 28rem">
                    <img src="../public/images/avatars/an-vo-va-ban-gai-2.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Võ Triều An</h5>
                        <p class="card-text">
                            Họ và tên: Võ Triều An <br>
                            Mã số sinh viên:  22657391 <br>
                            Lớp: DHKTPM18ATT <br>
                            Chuyên ngành: Kỹ thuật phần mềm
                        </p>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <h3>Liên hệ</h3>
                            <a target="_blank" href="https://www.facebook.com/kirito.an.3">  
                                <button class="btn btn-primary bnt-link">Qua facebook</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 py-4" style="display: flex; justify-content: center;">
                <div class="card" style="width: 28rem">
                    <img src="../public/images/avatars/avt-phuong.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Huỳnh Thanh Phương</h5>
                        <p class="card-text">
                            Họ và tên: Huỳnh Thanh Phương <br>
                            Mã số sinh viên:  22671361 <br>
                            Lớp: DHKTPM18ATT <br>
                            Chuyên ngành: Kỹ thuật phần mềm
                        </p>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <h3>Liên hệ</h3>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100011376134038">  
                                <button class="btn btn-primary bnt-link">Qua facebook</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-4" style="display: flex; justify-content: center;">
                <div class="card" style="width: 28rem">
                    <img src="../public/images/avatars/avt-bao.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Tô Phan Gia Bảo</h5>
                        <p class="card-text">
                            Họ và tên: Tô Phan Gia Bảo <br>
                            Mã số sinh viên:  22682891 <br>
                            Lớp: DHKTPM18ATT <br>
                            Chuyên ngành: Kỹ thuật phần mềm
                        </p>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <h3>Liên hệ</h3>
                            <a target="_blank" href="https://www.facebook.com/giabao.tophan">  
                                <button class="btn btn-primary bnt-link">Qua facebook</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>

</body>
</html>