<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riviu - Địa Điểm Ăn Uống, Du Lịch & Đời Sống</title>
    <link rel="icon" href="../public/images/favicon.png" />
    <link
      rel="stylesheet"
      href="../public/css/bootstraps/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/css/custom/center.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

  </head>
  <body style="background-color: #efefef">
    <div class="container d-flex justify-content-center">
      <div class="container-fluid row">
        <div class="col-sm-9">
          <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
              <button
                type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#list-group-menu"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse mt-2" id="list-group-menu">
                <ul class="navbar-nav nav-pills list-group">
                  <li class="nav-item">
                    <h3
                      class="nav-link active"
                      id="all-food"
                      data-bs-toggle="tab"
                      data-bs-target="#all"
                      role="tab"
                      aria-controls="all"
                      aria-selected="true"
                    >
                      Tất cả
                    </h3>
                  </li>
                  <li class="nav-item">
                    <h3
                      class="nav-link"
                      id="breakfast-food"
                      data-bs-toggle="tab"
                      data-bs-target="#breakfast"
                      role="tab"
                      aria-controls="breakfast"
                      aria-selected="true"
                    >
                      Ăn sáng
                    </h3>
                  </li>
                  <li class="nav-item">
                    <h3
                    class="nav-link"
                    id="lunch-food"
                    data-bs-toggle="tab"
                    data-bs-target="#lunch"
                    role="tab"
                    aria-controls="lunch"
                    aria-selected="true"
                    >Ăn trưa</h3>
                  </li>
                  <li class="nav-item">
                    <h3 
                        class="nav-link"
                        id="snack-food"
                        data-bs-toggle="tab"
                        data-bs-target="#snacks"
                        role="tab"
                        aria-controls="snacks"
                        aria-selected="true"
                    >Ăn vặt</h3>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="tab-content">
            <div
              class="tab-pane active"
              id="all"
              role="tabpanel"
              aria-labelledby="all-food"
            >
              <div class="row">
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-pho.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/pho/intro2.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-pho.html">
                          <h4
                            class="title-item-black"
                            title="Một ngày thèm cơm chán phở cùng với mình, mình là một tín đồ cực kỳ lớn của phở và mình mới tìm ra 1 quán phở rất là ưng ý"
                          >
                            Một ngày thèm cơm chán phở cùng với mình, mình là
                            một tín đồ cực kỳ lớn của phở và mình mới tìm ra 1
                            quán phở rất là ưng ý
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-camtien.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/an-vo-va-ban-gai.png"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Cẩm Tiên</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>6547</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-comtam.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/comtam/comtam1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-comtam.html">
                          <h4
                            class="title-item-black"
                            title="Cơm tấm là một trong những món ăn mà mình yêu thích :3, và đây sẽ là bài review chi tiết của mình về món ăn này"
                          >
                            Cơm tấm là một trong những món ăn mà mình yêu thích
                            :3, và đây sẽ là bài review chi tiết của mình về món
                            ăn này
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-camtien.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/an-vo-va-ban-gai-2.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Cẩm Tiên</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>5324</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-bunbo.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/bunbo/bunbo1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-bunbo.html">
                          <h4
                            class="title-item-black"
                            title=" Mời các bạn cùng đến với công thức bún bò chuẩn vị mẹ nấu cùng với mình :3"
                          >
                            Mời các bạn cùng đến với công thức bún bò chuẩn vị
                            mẹ nấu cùng với mình :3
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="post-profile-camtien.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/an-vo-va-ban-gai-2.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Cẩm Tiên</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>3452</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-banhmi.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/banhmi/intro1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-banhmi.html">
                          <h4
                            class="title-item-black"
                            title="Bánh mì xíu mại trứng muối hot hòn họt hơn bao giờ hết!! mời các bạn đến trải nghiệm tại Bánh mì thịt bò nướng"
                          >
                            Bánh mì xíu mại trứng muối hot hòn họt hơn bao giờ
                            hết !! mời các bạn đến trải nghiệm tại Bánh mì thịt
                            bò nướng
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-thaian.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-thai-an.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Thái An ở nhà</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-hutieu.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/hutieu/avatar.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-hutieu.html">
                          <h4
                            class="title-item-black"
                            title="Alo alo??!! ăn gì bây giờ đây. Hủ tiếu nam vang đi các bạn ơi :3, mời các bạn đến trải nghiệm cùng mình với món ăn cực kỳ thú vị này nhé"
                          >
                            Alo alo??!! ăn gì bây giờ đây. Hủ tiếu nam vang đi
                            các bạn ơi :3, mời các bạn đến trải nghiệm cùng mình
                            với món ăn cực kỳ thú vị này nhé
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-anvo.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-an-vo.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">An Vo</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-banhcuon.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/banhcuon/banhcuon4.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-banhcuon.html">
                          <h4
                            class="title-item-black"
                            title="Mình mới tìm được quán bánh cuốn ngay gần nhà :3, chẳng là có dịp đi ăn khuya không ngờ gặp quán bánh cuốn ưng cái bụng như này."
                          >
                            Mình mới tìm được quán bánh cuốn ngay gần nhà :3,
                            chẳng là có dịp đi ăn khuya không ngờ gặp quán bánh
                            cuốn ưng cái bụng như này.
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-giaobao.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-bao.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Gia Bao</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-xoi.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/xoi/intro1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-xoi.html">
                          <h4
                            class="title-item-black"
                            title="Mình mới phát hiện được quán xôi bắc ngay trung tâm sài gòn mọi người ơi!!"
                          >
                            Mình mới phát hiện được quán xôi bắc ngay trung tâm
                            sài gòn mọi người ơi!!
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-thanhphuong.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-phuong.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Thanh Phuong</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-anvat.html">
                        <img
                          class="card-img-top"
                          src="../public/images/foods/anvat/avatar.jpeg"
                          alt="Hình ảnh phở bò"
                        />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-anvat.html">
                          <h4
                            class="title-item-black"
                            title="Mời các bạn ăn vặt cùng với trà sữa đậm vị thái và muôn ngàn món ngon tê tái đang chờ đợi mọi ngườiii"
                          >
                            Mời các bạn ăn vặt cùng với trà sữa đậm vị thái và
                            muôn ngàn món ngon tê tái đang chờ đợi mọi ngườiii
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-1.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Mây mây</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-buncha.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/buncha/buncha4.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-buncha.html">
                          <h4
                            class="title-item-black"
                            title="Đây là 1 trong những quán bún chả có không gian yêu thích của mình vào những dịp cuối tuần :3"
                          >
                            Đây là 1 trong những quán bún chả có không gian yêu
                            thích của mình vào những dịp cuối tuần :3
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/foods/buncha/author.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">ăn cùng pigpig</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-bundau.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/bundau/bundau1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-bundau.html">
                          <h4
                            class="title-item-black"
                            title="Bún đậu mắm tôm ở Sài Gòn hôm nay có gì ngon ??!!!!"
                          >
                            Bún đậu mắm tôm ở Sài Gòn hôm nay có gì ngon ??!!!!
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/foods/bundau/Author.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Thanh Thanh</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-cafe.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/cafe/cafe5.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-cafe.html">
                          <h4
                            class="title-item-black"
                            title="Một trong những quán caffe có góc học tập ổn áp và thời gian vui chơi!!!"
                          >
                            Một trong những quán caffe có góc học tập ổn áp và
                            thời gian vui chơi!!!
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/foods/cafe/author.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Rùa ham ăn</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-comga.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/comga/comga1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-comga.html">
                          <h4
                            class="title-item-black"
                            title="Order 1 quán cơm gà mà mình vô tình bắt gặp được trên app liệu có ngon khum ??!!"
                          >
                            Order 1 quán cơm gà mà mình vô tình bắt gặp được
                            trên app liệu có ngon khum ??!!
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/foods/comga/author.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">bánh mì :></h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="breakfast"
              role="tabpanel"
              aria-labelledby="breakfast-food"
            >
              <div class="row">
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-pho.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/pho/intro2.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-pho.html">
                          <h4
                            class="title-item-black"
                            title="Một ngày thèm cơm chán phở cùng với mình, mình là một tín đồ cực kỳ lớn của phở và mình mới tìm ra 1 quán phở rất là ưng ý"
                          >
                            Một ngày thèm cơm chán phở cùng với mình, mình là
                            một tín đồ cực kỳ lớn của phở và mình mới tìm ra 1
                            quán phở rất là ưng ý
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-camtien.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/an-vo-va-ban-gai.png"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Cẩm Tiên</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>6547</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-bunbo.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/bunbo/bunbo1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-bunbo.html">
                          <h4
                            class="title-item-black"
                            title=" Mời các bạn cùng đến với công thức bún bò chuẩn vị mẹ nấu cùng với mình :3"
                          >
                            Mời các bạn cùng đến với công thức bún bò chuẩn vị
                            mẹ nấu cùng với mình :3
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="post-profile-camtien.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/an-vo-va-ban-gai-2.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Cẩm Tiên</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>3452</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-banhmi.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/banhmi/intro1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-banhmi.html">
                          <h4
                            class="title-item-black"
                            title="Bánh mì xíu mại trứng muối hot hòn họt hơn bao giờ hết!! mời các bạn đến trải nghiệm tại Bánh mì thịt bò nướng"
                          >
                            Bánh mì xíu mại trứng muối hot hòn họt hơn bao giờ
                            hết !! mời các bạn đến trải nghiệm tại Bánh mì thịt
                            bò nướng
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href="./post-profile-thaian.html"
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/avatars/avt-thai-an.jpg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Thái An ở nhà</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
              >
                <div class="card">
                  <a href="./post-hutieu.html">
                    <img
                      class="card-img-top"
                      src="../public/images/foods/hutieu/avatar.jpeg"
                      alt="Hình ảnh phở bò"
                    />
                  </a>
                  <div class="card-body">
                    <div class="main-content">
                      <a href="./post-hutieu.html">
                        <h4
                          class="title-item-black"
                          title="Alo alo??!! ăn gì bây giờ đây. Hủ tiếu nam vang đi các bạn ơi :3, mời các bạn đến trải nghiệm cùng mình với món ăn cực kỳ thú vị này nhé"
                        >
                          Alo alo??!! ăn gì bây giờ đây. Hủ tiếu nam vang đi
                          các bạn ơi :3, mời các bạn đến trải nghiệm cùng mình
                          với món ăn cực kỳ thú vị này nhé
                        </h4>
                      </a>
                    </div>
                    <div class="d-flex box-infor justify-content-evenly">
                      <a
                        href="./post-profile-anvo.html"
                        class="author d-flex justify-content-start align-items-center"
                      >
                        <img
                          src="../public/images/avatars/avt-an-vo.jpg"
                          class=""
                          alt=""
                        />
                        <h5 class="text-item-gray">An Vo</h5>
                      </a>
                      <span class="material-symbols-outlined icon-hearth"
                        >favorite</span
                      >
                      <span>29</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
              class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
            >
              <div class="card">
                <a href="./post-banhcuon.html">
                  <img
                    class="card-img-top"
                    src="../public/images/foods/banhcuon/banhcuon4.jpeg"
                    alt="Hình ảnh phở bò"
                  />
                </a>
                <div class="card-body">
                  <div class="main-content">
                    <a href="./post-banhcuon.html">
                      <h4
                        class="title-item-black"
                        title="Mình mới tìm được quán bánh cuốn ngay gần nhà :3, chẳng là có dịp đi ăn khuya không ngờ gặp quán bánh cuốn ưng cái bụng như này."
                      >
                        Mình mới tìm được quán bánh cuốn ngay gần nhà :3,
                        chẳng là có dịp đi ăn khuya không ngờ gặp quán bánh
                        cuốn ưng cái bụng như này.
                      </h4>
                    </a>
                  </div>
                  <div class="d-flex box-infor justify-content-evenly">
                    <a
                      href="./post-profile-giaobao.html"
                      class="author d-flex justify-content-start align-items-center"
                    >
                      <img
                        src="../public/images/avatars/avt-bao.jpg"
                        class=""
                        alt=""
                      />
                      <h5 class="text-item-gray">Gia Bao</h5>
                    </a>
                    <span class="material-symbols-outlined icon-hearth"
                      >favorite</span
                    >
                    <span>29</span>
                  </div>
                </div>
              </div>
            </div>
              <div
              class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
            >
              <div class="card">
                <a href="./post-buncha.html">
                  <img
                    class="card-img-top"
                    src="../public/images/foods/buncha/buncha4.jpeg"
                    alt="Hình ảnh phở bò"
                  />
                </a>
                <div class="card-body">
                  <div class="main-content">
                    <a href="./post-buncha.html">
                      <h4
                        class="title-item-black"
                        title="Đây là 1 trong những quán bún chả có không gian yêu thích của mình vào những dịp cuối tuần :3"
                      >
                        Đây là 1 trong những quán bún chả có không gian yêu
                        thích của mình vào những dịp cuối tuần :3
                      </h4>
                    </a>
                  </div>
                  <div class="d-flex box-infor justify-content-evenly">
                    <a
                      href=""
                      class="author d-flex justify-content-start align-items-center"
                    >
                      <img
                        src="../public/images/foods/buncha/author.jpeg"
                        class=""
                        alt=""
                      />
                      <h5 class="text-item-gray">ăn cùng pigpig</h5>
                    </a>
                    <span class="material-symbols-outlined icon-hearth"
                      >favorite</span
                    >
                    <span>29</span>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="lunch"
              role="tabpanel"
              aria-labelledby="lunch-food"
            >
            <div class="row">
                <div
                class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
              >
                <div class="card">
                  <a href="./post-comtam.html">
                    <img
                      class="card-img-top"
                      src="../public/images/foods/comtam/comtam1.jpeg"
                      alt="Hình ảnh phở bò"
                    />
                  </a>
                  <div class="card-body">
                    <div class="main-content">
                      <a href="./post-comtam.html">
                        <h4
                          class="title-item-black"
                          title="Cơm tấm là một trong những món ăn mà mình yêu thích :3, và đây sẽ là bài review chi tiết của mình về món ăn này"
                        >
                          Cơm tấm là một trong những món ăn mà mình yêu thích
                          :3, và đây sẽ là bài review chi tiết của mình về món
                          ăn này
                        </h4>
                      </a>
                    </div>
                    <div class="d-flex box-infor justify-content-evenly">
                      <a
                        href="./post-profile-camtien.html"
                        class="author d-flex justify-content-start align-items-center"
                      >
                        <img
                          src="../public/images/avatars/an-vo-va-ban-gai-2.jpg"
                          class=""
                          alt=""
                        />
                        <h5 class="text-item-gray">Cẩm Tiên</h5>
                      </a>
                      <span class="material-symbols-outlined icon-hearth"
                        >favorite</span
                      >
                      <span>5324</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
              class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
            >
              <div class="card">
                <a href="./post-xoi.html">
                  <img
                    class="card-img-top"
                    src="../public/images/foods/xoi/intro1.jpeg"
                    alt="Hình ảnh phở bò"
                  />
                </a>
                <div class="card-body">
                  <div class="main-content">
                    <a href="./post-xoi.html">
                      <h4
                        class="title-item-black"
                        title="Mình mới phát hiện được quán xôi bắc ngay trung tâm sài gòn mọi người ơi!!"
                      >
                        Mình mới phát hiện được quán xôi bắc ngay trung tâm
                        sài gòn mọi người ơi!!
                      </h4>
                    </a>
                  </div>
                  <div class="d-flex box-infor justify-content-evenly">
                    <a
                      href="./post-profile-thanhphuong.html"
                      class="author d-flex justify-content-start align-items-center"
                    >
                      <img
                        src="../public/images/avatars/avt-phuong.jpg"
                        class=""
                        alt=""
                      />
                      <h5 class="text-item-gray">Thanh Phuong</h5>
                    </a>
                    <span class="material-symbols-outlined icon-hearth"
                      >favorite</span
                    >
                    <span>29</span>
                  </div>
                </div>
              </div>
            </div>
              <div
              class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
            >
              <div class="card">
                <a href="./post-comga.html">
                  <img
                    class="card-img-top"
                    src="../public/images/foods/comga/comga1.jpeg"
                    alt="Hình ảnh phở bò"
                  />
                </a>
                <div class="card-body">
                  <div class="main-content">
                    <a href="./post-comga.html">
                      <h4
                        class="title-item-black"
                        title="Order 1 quán cơm gà mà mình vô tình bắt gặp được trên app liệu có ngon khum ??!!"
                      >
                        Order 1 quán cơm gà mà mình vô tình bắt gặp được
                        trên app liệu có ngon khum ??!!
                      </h4>
                    </a>
                  </div>
                  <div class="d-flex box-infor justify-content-evenly">
                    <a
                      href=""
                      class="author d-flex justify-content-start align-items-center"
                    >
                      <img
                        src="../public/images/foods/comga/author.jpeg"
                        class=""
                        alt=""
                      />
                      <h5 class="text-item-gray">bánh mì :></h5>
                    </a>
                    <span class="material-symbols-outlined icon-hearth"
                      >favorite</span
                    >
                    <span>29</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div
              class="tab-pane"
              id="snacks"
              role="tabpanel"
              aria-labelledby="snack-food"
            > 
                <div class="row">
                    <div
                    class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                  >
                    <div class="card">
                        <a href="./post-anvat.html">
                            <img
                              class="card-img-top"
                              src="../public/images/foods/anvat/avatar.jpeg"
                              alt="Hình ảnh phở bò"
                            />
                        </a>
                      <div class="card-body">
                        <div class="main-content">
                          <a href="./post-anvat.html">
                            <h4
                              class="title-item-black"
                              title="Mời các bạn ăn vặt cùng với trà sữa đậm vị thái và muôn ngàn món ngon tê tái đang chờ đợi mọi ngườiii"
                            >
                              Mời các bạn ăn vặt cùng với trà sữa đậm vị thái và
                              muôn ngàn món ngon tê tái đang chờ đợi mọi ngườiii
                            </h4>
                          </a>
                        </div>
                        <div class="d-flex box-infor justify-content-evenly">
                          <a
                            href=""
                            class="author d-flex justify-content-start align-items-center"
                          >
                            <img
                              src="../public/images/avatars/avt-1.jpeg"
                              class=""
                              alt=""
                            />
                            <h5 class="text-item-gray">Mây mây</h5>
                          </a>
                          <span class="material-symbols-outlined icon-hearth"
                            >favorite</span
                          >
                          <span>29</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
                >
                  <div class="card">
                    <a href="./post-bundau.html">
                      <img
                        class="card-img-top"
                        src="../public/images/foods/bundau/bundau1.jpeg"
                        alt="Hình ảnh phở bò"
                      />
                    </a>
                    <div class="card-body">
                      <div class="main-content">
                        <a href="./post-bundau.html">
                          <h4
                            class="title-item-black"
                            title="Bún đậu mắm tôm ở Sài Gòn hôm nay có gì ngon ??!!!!"
                          >
                            Bún đậu mắm tôm ở Sài Gòn hôm nay có gì ngon ??!!!!
                          </h4>
                        </a>
                      </div>
                      <div class="d-flex box-infor justify-content-evenly">
                        <a
                          href=""
                          class="author d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="../public/images/foods/bundau/Author.jpeg"
                            class=""
                            alt=""
                          />
                          <h5 class="text-item-gray">Thanh Thanh</h5>
                        </a>
                        <span class="material-symbols-outlined icon-hearth"
                          >favorite</span
                        >
                        <span data-value-like>29</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center"
              >
                <div class="card">
                  <a href="./post-cafe.html">
                    <img
                      class="card-img-top"
                      src="../public/images/foods/cafe/cafe5.jpeg"
                      alt="Hình ảnh phở bò"
                    />
                  </a>
                  <div class="card-body">
                    <div class="main-content">
                      <a href="./post-cafe.html">
                        <h4
                          class="title-item-black"
                          title="Một trong những quán caffe có góc học tập ổn áp và thời gian vui chơi!!!"
                        >
                          Một trong những quán caffe có góc học tập ổn áp và
                          thời gian vui chơi!!!
                        </h4>
                      </a>
                    </div>
                    <div class="d-flex box-infor justify-content-evenly">
                      <a
                        href=""
                        class="author d-flex justify-content-start align-items-center"
                      >
                        <img
                          src="../public/images/foods/cafe/author.jpeg"
                          class=""
                          alt=""
                        />
                        <h5 class="text-item-gray">Rùa ham ăn</h5>
                      </a>
                      <span class="material-symbols-outlined icon-hearth"
                        >favorite</span
                      >
                      <span>29</span>
                    </div>
                  </div>
                </div>
              </div>

                </div>
            </div>
            
        </div>
    </div>











    <div class="col-sm-3">
      <div class="related-location-wrapper">
        <h2 class="title-panel px-4 pt-4 pb-3">Tài khoản đề xuất</h2>
        <div class="line"></div>
        <div class="px-2 mt-1 pb-4">
          <div class="author-wrapper d-flex align-items-center mt-1">
            <div class="author-avatar">
              <a href="./post-profile-anvo.html" class="hover">
                <div
                  class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                >
                  <img
                    class="rounded-circle thumbnail-inner"
                    src="../public/images/avatars/avt-an-vo.jpg"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="author-info flex-grow-1 ms-3">
              <div class="author-name d-flex align-items-center">
                <a href="./post-profile-anvo.html" class="font-weight-bold">An Vo</a>
              </div>
              <div class="author-summary">
                <span>@anvo</span>
              </div>
            </div>
          </div>
        </div>
        <div class="px-2 mt-1 pb-4">
          <div class="author-wrapper d-flex align-items-center mt-1">
            <div class="author-avatar">
              <a href="./post-profile-thanhphuong.html" class="hover">
                <div
                  class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                >
                  <img
                    class="rounded-circle thumbnail-inner"
                    src="../public/images/avatars/avt-phuong.jpg"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="author-info flex-grow-1 ms-3">
              <div class="author-name d-flex align-items-center">
                <a href="./post-profile-thanhphuong.html" class="font-weight-bold">Thanh Phuong</a>
              </div>
              <div class="author-summary">
                <span>@thanhphuong</span>
              </div>
            </div>
          </div>
        </div>
        <div class="px-2 mt-1 pb-4">
          <div class="author-wrapper d-flex align-items-center mt-1">
            <div class="author-avatar">
              <a href="./post-profile-thaian.html" class="hover">
                <div
                  class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                >
                  <img
                    class="rounded-circle thumbnail-inner"
                    src="../public/images/avatars/avt-thai-an.jpg"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="author-info flex-grow-1 ms-3">
              <div class="author-name d-flex align-items-center">
                <a href="./post-profile-thaian.html" class="font-weight-bold">Thai An</a>
              </div>
              <div class="author-summary">
                <span>@thaian</span>
              </div>
            </div>
          </div>
        </div>
        <div class="px-2 mt-1 pb-4">
          <div class="author-wrapper d-flex align-items-center mt-1">
            <div class="author-avatar">
              <a href="./post-profile-giaobao.html" class="hover">
                <div
                  class="thumbnail-wrapper d-flex align-items-center justify-content-center ratio_1-1"
                >
                  <img
                    class="rounded-circle thumbnail-inner"
                    src="../public/images/avatars/avt-bao.jpg"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="author-info flex-grow-1 ms-3">
              <div class="author-name d-flex align-items-center">
                <a href="./post-profile-giaobao.html" class="font-weight-bold">Gia Bao</a>
              </div>
              <div class="author-summary">
                <span>@giabao</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery.min.js"></script>
  </body>
</html>
