<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riviu - Địa Điểm Ăn Uống, Du Lịch & Đời Sống</title>
    <link rel="icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="#">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="./post-profile-camtien.html" class="m-5 mt-3">
                                <img src="../public/images/avatars/an-vo-va-ban-gai.png" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a href="./post-profile-camtien.html" class="author-name " >
                                    <p  class=""><b>Cẩm Tiên</b>
                                        <img  src="../public/images/foods/comtam/lv6.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>15:44 ngày 12/12/2022 tại
                                    <a href="" style="text-decoration: none; color: orangered;">🍜PHỞ SÀI GÒN since 1998,</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                        <div class="carousel-inner">
                            <div class="carousel-item c-item active">
                                <img src="../public/images/foods/pho/intro1.jpeg" class="w-auto d-block c-img" alt="">
                            </div>  
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/pho/intro2.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/pho/intro3.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/pho/intro4.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                           
                            <button class="carousel-control-prev" 
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
    
                            <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/pho/intro1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/pho/intro2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/pho/intro3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/pho/intro4.jpeg" class=" b-img" alt="">
                            </button>

                            
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;">Chưa có đánh giá</span> 
                            <span style="color: rgb(112, 112, 112);">(0 Riviu)</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">🍜CHÁN CƠM THÈM PHỞ🍲</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Trúng bữa mẹ đi ăn cưới, hổng nấu nướng gì hết trơn, gặp cái tính "hổng được siêng cho lắm" nữa nên 2 anh em mình quyết định dắt díu nhau đi kím gì ăn cho qua cơn đói.

                            Ông anh mình sành ăn thôi rồi luôn, ổng kêu: "Để tao dắt mày đi ăn phở, ăn xong đảm bảo mày thích phở luôn". Ổng nói vậy tại ổng biết mình hổng có "hảo" phở đó giờ, ăn cho ổng vui là chính 🤣
                            
                            Tưởng đâu xa xôi, quán ngay bên Lê Hồng Phong, đó giờ đi học bên đây mà hổng biết luôn. Bước vô thấy quán "hơi bị bự" nhe, chắc mắc mà hoi ổng bao lo gì 😌
                            
                            ⭐️Mình kêu tô Phở thập cẩm 70k, ông anh mình sành ăn nên kêu cũng khác người, ổng ăn tô Phở bắp hoa vè cũng 70k luôn. Bắp hoa thì biết chứ vè là cái gì "người nông dân" hổng biết. Ăn ké miếng mới biết nó vừa giòn vừa béo nhai sực sực như lỗ tai heo vậy đó =))))))
                            
                            ☀️Tô nào tô nấy to ù ụ, thịt bò các kiểu ta nói nhiều bao la, no "sấp mặt" là có thiệt. Tô thập cẩm mình ăn là đầy đủ tất tần tật tái, nạm, gân, viên luôn. Thịt bò được nấu khá mềm, ngon nhất là gân bò, mềm ăn dẻo dẻo ghiền luôn. Riêng cọng bánh phở ở đây thì cũng giống như những loại mình từng ăn qua, nên không có gì khác biệt lắm.
                            
                            Đặc biệt, nước lèo thanh ngọt cực kì, sau khi ăn xong hổng bị say bột ngọt, mừng hết lớn 😂Chứ bao tử mình ngộ lắm, ăn chỗ nào nhiều bột ngọt là nó quặn lại với làm mệt suốt luôn.
                            
                            Thấy có sườn bò nhìn cũng ngon lắm, mà no "ná thở" rồi, tạm ngưng chương trình, lần sau test tiếp =))))))
                            
                            Tính tiền mình thấy giá hơi nhỉn hơn mấy quán khác chút, mà đồ ăn chất lượng, nên khá ưng nha 👍
                            
                            
                           
                            
                            </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodieHoChiMinh
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodblogger
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #riviu2022
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #HCMfood
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #anphowithme
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #SaiGon
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #reviewfood
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #foodie
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #TPHoChiMinh
                            </div>
                        </a>
                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/pho/avatar.jpg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">PHỞ SÀI GÒN since 1998</div>
                                </a>
    
                                <h6 class="address">
                                    781/C3 Đ. Lê Hồng Phong, Phường 12, Quận 10, Thành phố Hồ Chí Minh
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">Chưa có đánh giá</span> 
                                        <span style="color: rgb(112, 112, 112);">(1 Riviu)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                136 người yêu thích
                            </span>
                            <b class="" style="float: right;">1 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                                <a href="#" class="avatar">
                                    <img src="../public/images/avater2.png" alt="">
                                </a>

                                <div class="comment-info flex-fill">
                                    <div class="commemt-name">
                                        <a href="#">
                                            <b>Tien Tien</b>
                                        </a>
                                        <small class="">12/12/2022 lúc 20:46</small>
                                        <p class="mt-2" style="font-size: 16px;">❤️ Phở rất ngon đậm đà hương vị truyền thống :3 
                                            ước gì mình có thể đến trải nghiệm cùng chủ tus 1 lần<br><span class="rep">Trả lời</span></p>
                                    </div>   
                                </div>


                                <i class="ti-heart"></i>
                            </div>


                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <a href="./post-profile-camtien.html">
                                <img src="../public/images/avatars/an-vo-va-ban-gai.png" style="width: 70px;" class="rounded-circle" alt="">
                            </a>
                        </div>                        
                        <div class="author-info ml-3">
                            <a  href="./post-profile-camtien.html" class="author-name " >
                                <p  class="m-0"><b>Cẩm Tiên</b>
                                    <img  src="../public/images/foods/comtam/lv6.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@camtienxinhgai</div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>3</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>18k</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>1</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>
                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/pho/post1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Bò Nầm Nướng</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-thai-an.jpg" alt="">
                                                <div class="text-muted">Thái an</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/pho/post5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">2T - Cafe</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-bao.jpg" alt="">
                                                <div class="text-muted">Gia Bảo</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/pho/post2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Min HotDog</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-phuong.jpg" alt="">
                                                <div class="text-muted">Huỳnh Phương</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/pho/post3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Trà sữa Nhà Ngoại</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/an-vo-va-ban-gai.png" alt="">
                                                <div class="text-muted">An Võ</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/pho/post4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Cơm trưa Honaagi</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-post5.png" alt="">
                                                <div class="text-muted">Người bí ẩn</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>
    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery.min.js"></script>
    <script src="../public/js/utils/post.js"></script>
</body>
</html>