<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riviu - Địa Điểm Ăn Uống, Du Lịch & Đời Sống</title>
    <link rel="icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function($){ 
            $(".header").load("./header.html");
            $(".post").load("./xoi.html");
        });
    </script>
</head>
<body>
    <div class="header"></div>
    <div class="post"></div>
</body>
</html>