<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/profile.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../public/css/custom/center.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>

<body>
    <div class="container mt-3 py-5 px-3">
        <div class="info-content ">
            <div class="row">
                <div class="col-4 col-md-2 col-sm-4">
                    <div style="width: 130px;">
                        <img class="image" src="../public/images/avatars/an-vo-va-ban-gai.png" alt="">
                    </div>
                </div>
                <div class="col-8 col-md-10 col-sm-8">
                    <div class="author-info ml-4">
                        <div class="row author-name mb-2 d-flex">
                            <div class="name">
                                Cẩm Tiên
                                <img class="image" style="width: 60px; margin-top: -10px;"
                                    src="../public/images/foods/comtam/lv6.png" alt="">
                            </div>
                        </div>
                        <div class="row author-username m-0">
                            @camtienxinhgai
                        </div>
                        <div class="row m-0">
                            <a name="" id="" class="btn btn-primary btn-sm col-md-2 mt-3" href="#" role="button">
                                <i class="ti-user"></i>
                                Theo dõi
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="author-summary d-flex mt-4">
                    <span class=" p-0">
                        <b>3</b>
                        bài viết
                    </span>
                    <span class="mx-3">
                        <a href="#">
                            <b>18k</b>
                            người theo dõi
                        </a>
                    </span>
                    <span>
                        <a href="#">
                            <b>1</b>
                            đang theo dõi
                        </a>
                    </span>
                </div>
            </div>
            <div class="row mx-3 mt-2">
                Xem Cẩm Tiên nhiều hơn nhé mọi người
            </div>
        </div>
        <div class="mt-4">
            <!-- Nav tabs -->
            <ul class="nav nav-pills d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">
                        Bài viết
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                        Bộ sưu tập
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                        type="button" role="tab" aria-controls="messages" aria-selected="false">
                        Ảnh/video
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#location"
                        type="button" role="tab" aria-controls="messages" aria-selected="false">
                        Địa điểm
                    </button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="review-container">
                        <div class="row mt-3">
                            <span style="text-align: center;margin-bottom: 16px;">
                                Tổng 17.527 lượt xem các bài viết
                            </span>
                        </div>
                        <div class="row">
                            <div
                                class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center">
                                <div class="card">
                                    <a href="./post-pho.html">
                                        <img class="card-img-top" src="../public/images/foods/pho/intro2.jpeg"
                                            alt="Hình ảnh phở bò">
                                    </a>
                                    <div class="card-body">
                                        <div class="main-content">
                                            <a href="./post-pho.html">
                                                <h4 class="title-item-black"
                                                    title="Một ngày thèm cơm chán phở cùng với mình, mình là một tín đồ cực kỳ lớn của phở và mình mới tìm ra 1 quán phở rất là ưng ý">
                                                    Một ngày thèm cơm chán phở cùng với mình, mình là một tín đồ
                                                    cực kỳ lớn của phở và mình mới tìm ra 1 quán phở rất là ưng ý
                                                </h4>
                                            </a>
                                        </div>
                                        <div class="d-flex box-infor justify-content-evenly">
                                            <a href="./post-profile-camtien.html"
                                                class="author d-flex justify-content-start align-items-center">
                                                <img src="../public/images/avatars/an-vo-va-ban-gai.png" class=""
                                                    alt="">
                                                <h5 class="text-item-gray">Cẩm Tiên</h5>
                                            </a>
                                            <span class="material-symbols-outlined icon-hearth">favorite</span>
                                            <span>6547</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center">
                                <div class="card">
                                    <a href="./post-comtam.html">
                                        <img class="card-img-top" src="../public/images/foods/comtam/comtam1.jpeg"
                                            alt="Hình ảnh phở bò">
                                        <div class="card-body">
                                    </a>
                                    <div class="main-content">
                                        <a href="./post-comtam.html">
                                            <h4 class="title-item-black"
                                                title="Cơm tấm là một trong những món ăn mà mình yêu thích :3, và đây sẽ là bài review chi tiết của mình về món ăn này">
                                                Cơm tấm là một trong những món ăn mà mình yêu thích :3, và đây sẽ là
                                                bài review chi tiết của mình về món ăn này
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="d-flex box-infor justify-content-evenly">
                                        <a href="./post-profile-camtien.html"
                                            class="author d-flex justify-content-start align-items-center">
                                            <img src="../public/images/avatars/an-vo-va-ban-gai-2.jpg" class="" alt="">
                                            <h5 class="text-item-gray">Cẩm Tiên</h5>
                                        </a>
                                        <span class="material-symbols-outlined icon-hearth">favorite</span>
                                        <span>5324</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 box-card d-flex justify-content-center">
                            <div class="card">
                                <a href="./post-bunbo.html">
                                    <img class="card-img-top" src="../public/images/foods/bunbo/bunbo1.jpeg"
                                        alt="Hình ảnh phở bò">
                                </a>
                                <div class="card-body">
                                    <div class="main-content">
                                        <a href="./post-bunbo.html">
                                            <h4 class="title-item-black"
                                                title=" Mời các bạn cùng đến với công thức bún bò chuẩn vị mẹ nấu cùng với mình :3">
                                                Mời các bạn cùng đến với công thức
                                                bún bò chuẩn vị mẹ nấu cùng với mình :3
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="d-flex box-infor justify-content-evenly">
                                        <a href="post-profile-camtien.html"
                                            class="author d-flex justify-content-start align-items-center">
                                            <img src="../public/images/avatars/an-vo-va-ban-gai-2.jpg" class="" alt="">
                                            <h5 class="text-item-gray">Cẩm Tiên</h5>
                                        </a>
                                        <span class="material-symbols-outlined icon-hearth">favorite</span>
                                        <span>3452</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row text-secondary my-3">
                    <h5>
                        Bộ sưu tầm
                    </h5>
                </div>
                <div class="row d-flex justify-content-center ">
                    <img class="image" style="width: 300px;" src="../public/images/profile/nodata.png" alt="">
                </div>
                <div class="row mt-3">
                    <div class="text-center text-secondary">
                        Không có dữ liệu
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                <div class="row text-secondary my-3">
                    <h5>
                        Ảnh/Video
                    </h5>
                </div>
                <div class="row d-flex justify-content-center ">
                    <img class="image" style="width: 300px;" src="../public/images/profile/nodata.png" alt="">
                </div>
                <div class="row mt-3">
                    <div class="text-center text-secondary">
                        Không có dữ liệu
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="location" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row text-secondary my-3">
                    <h5>
                        Địa điểm
                    </h5>
                </div>
                <div class="row d-flex justify-content-center ">
                    <img class="image" style="width: 300px;" src="../public/images/profile/nodata.png" alt="">
                </div>
                <div class="row mt-3">
                    <div class="text-center text-secondary">
                        Không có dữ liệu
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery.min.js"></script>
</body>

</html>