<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/top.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="container-sm d-flex justify-content-center">
        <div class="container row">
            <div class="col-sm-9">
                <div class="banner mt-3">
                    <img src="../public/images/top/banner.png" class="w-100 h-100" alt="">
                </div>

                <div class="container-collection mt-5">
                    <div class="row">
                        <div class="col title-collection text-secondary">
                            Dành cho bạn
                        </div>

                        <div class="col " >
                            <a href="#" class="text-secondary view-more" style="float: right;">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div id="carouselId" class="carousel mt-3 mb-3" data-bs-ride="carousel">
                    
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4">
                                    <a href="./post-banhmi.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/banhmi/banh-my.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Việt Nam</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class=" col-4">
                                    <a href="./post-comtam.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/comtam/Com-tam.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Rất Việt Nam</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-4">
                                    <a href="./post-pho.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/pho/MonPho.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Siêu Siêu Việt Nam</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class=" col-4">
                                    <a href="./post-hutieu.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/hutieu/HuTieu.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Ăn Bình Dân</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-4">
                                    <a href="./post-anvat.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/anvat/CaVien.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Ăn Vặt Đỉnh Của Chóp</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-4">
                                    <a href="./post-cafe.html">
                                        <div class="collection-item p-0 w-100">
                                            <div class="br-mark"></div>
                                            <div class="thmanail-warapper" >
                                                <img style="border-radius: 12px;" src="../public/images/foods/cafe/Coffee.jpg" class="image" alt="">
                                            </div>
                                            <div class="info">
                                                <h3 class="text-truncate mx-2">Món Giải Khát Quốc Dân</h3>
                                                <div class="review_count px-2">
                                                    1 bài viết
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="content-register mt-4 hidden" hidden-login-top>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../public/images/top/avatar.png" alt="">
                    </div>
                    <div class="text-center text-secondary slogan m-3">
                        Đăng nhập vào Riviu để cùng nhau ăn khắp nơi chơi khắp chốn bạn nhé!
                    </div>
                    <div class="register-control row">
                        <div class="col-6 col-sm-6">
                            <div class="d-flex justify-content-end">
                                <button
                                type="button"
                                class="btn btn-secondary "
                                data-bs-toggle="modal"
                                data-bs-target="#modal-register"
                                >
                                Đăng ký
                                </button>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="d-flex justify-content-start">
                                <button
                                type="button"
                                class="btn  btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-login"
                                >
                                Đăng nhập
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery.min.js"></script>
</body>
</html>