<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom/post.css">
    <link rel="stylesheet" href="../public/css/custom/responsive-post.css">
    <link rel="stylesheet" href="../public/images/themify-icons/themify-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color: rgb(248, 249, 250); padding: 0;">
        <!-- header -->
        <div class="image">
            <a href="">
                <img src="../public/images/banner/advert.png" class="w-100 h-100" alt="">
            </a>
        </div>
        <div class="container-fluid row">
            <div class="row left-container mt-3 col-sm-10 col-md-8">
                <div class="col-1 post-action mt-5">
                    <div class="item-action">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-heart"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-comment"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-share-alt"></i>
                        </div>
                    </div>
                    <div class="item-action mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="ti-bookmark-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-11 post-item mt-4">
                    <div class="author-name-content d-flex">
                        <div class="">
                            <a href="./post-profile-thanhphuong.html" class="m-5 mt-3">
                                <img src="../public/images/avatars/avt-phuong.jpg" class="rounded-circle" style="width: 60px;" alt="">
                            </a>
                        </div>

                        <div class="author-info flex-fill ml-4" >
                            <div class="w-100" style="float: left; margin-bottom: -10px;" >
                                <a  href="./post-profile-thanhphuong.html" class="author-name " >
                                    <p  class=""><b>Phương chỉ ăn xôi :v</b>
                                        <img  src="../public/images/level.png" class="img-level-user">
                                    </p> 
                                </a>
                            </div>
                            <div class="" style="font-size: 13px;">
                                <br>
                                <p>22:22 ngày 22/02/2024 tại
                                    <a href="" style="text-decoration: none; color: orangered;"> Xôi Bắc - Ngô Thời Nhiệm</a>
                                </p>
                                
                            </div>
                        </div>
                        
                        <i class="ti-more-alt icon-report col-md-1"></i>
                    </div>

                    <div class="carousel slide mt-3" id="carouselDemo" 
                    data-bs-wrap="true"
                    data-bs-interval="true">

                        <div class="carousel-inner">
                            <div class="carousel-item c-item active">
                                <img src="../public/images/foods/xoi/intro1.jpeg" class="w-auto d-block c-img" alt="">
                            </div>  
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro2.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro3.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro4.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro5.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro6.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                            <div class="carousel-item c-item">
                                <img src="../public/images/foods/xoi/intro7.jpeg" class="w-auto d-block c-img" alt="">
                            </div>
                           
                           
                            <button class="carousel-control-prev" 
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
    
                            <button class="carousel-control-next"
                            type="button"
                            data-bs-target="#carouselDemo"
                            data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>



                        <div class="carousel-indicators">
                            <button type="button" class="active b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="0">
                                <img src="../public/images/foods/xoi/intro1.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="1">
                                <img src="../public/images/foods/xoi/intro2.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="2">
                                <img src="../public/images/foods/xoi/intro3.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="3">
                                <img src="../public/images/foods/xoi/intro4.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="4">
                                <img src="../public/images/foods/xoi/intro5.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="5">
                                <img src="../public/images/foods/xoi/intro6.jpeg" class=" b-img" alt="">
                            </button>

                            <button type="button" class="b-item"
                            data-bs-target="#carouselDemo"
                            data-bs-slide-to="6">
                                <img src="../public/images/foods/xoi/intro7.jpeg" class=" b-img" alt="">
                            </button>
     
                        </div>

                    </div>

                    <div class="ratting-content">
                        <div class="item-rating">
                            <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                            <span style="font-weight: bold;">Chưa có đánh giá</span> 
                            <span style="color: rgb(112, 112, 112);">(1 Riviu)</span>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="top d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 mb-1" style="flex: 1 1 0%;">
                                <h1 class="title">Xôi THỊT KHO TRỨNG LÒNG ĐÀO ✨ - Ngôi Sao Mới Nổi Trong Làng Xôi-Biz 🤣✨</h1> <!---->
                            </div>
                        </div>

                        <div id="container-content" class="white-space-word text-justify text-content ">
                            Mình lại phát hiện được một địa chỉ Xôi Bắc ở Sài Gòn nữa nè mọi người ơi. Hổng hiểu sao mà tui ghiền xôi đến vậy luôn á. Đêm hôm qua còn ngủ không được vì mong chờ tới sáng để được đi ăn chổ này... 🤤
                            .
                            Xôi ở đây cũng có khá nhiều các nguyên liệu khác nhau, Kai gọi hai loại mà Kai thấy nổi bật để Review cho cả nhà nè. 😚
                            #XôiThịtKhoTrứngLòngĐào ⭐️ (40K/ Phần) giá hơi cao so với thị trường Xôi hiện nay, nhưng được cái khá đầy đặn. 👍🏻 Hạt Xôi dẻo thơm được chan tí mỡ ✨ nên khá béo, lúc bưng ra còn nóng hổi, bạn Kai và Kai ai cũng thích Xôi hết. Thịt Kho🐷 chưa mềm đúng ý Kai lắm và cũng chưa đậm đà tuy nhiên mùi vị lại rất dễ ăn. Điểm nhấn của dĩa xôi này là quả Trứng Vịt Lòng Đào ✨, nhìn thôi là đã mê rồi. Trứng Vịt 🥚 ăn cực kì béo và được chiên sơ nữa nên thấm nước thịt kho ăn siêu ngon. 🤗 Kai có gọi thêm 1/2 miếng Chả Cua🦀(5K) ăn thử thì thấy gia vị nêm ổn, thêm xíu độ dai nữa thì sẽ ngon hơn. 😘
                            #XôiThậpCẩm 🍛 (40K/ Phần), một phần đầy ụ với Thịt Kho 🐷, Lạp Xưởng 🥓 không bị gắt dầu khá ổn, Patê mùi hơi nồng nên chưa hấp dẫn lắm, Chả Lụa miếng dầy tuy nhiên cũng không đặc sắc, Gà Xào Nấm hơi nhạt nhưng có mùi thơm và vị ngọt tự nhiên của nấm 🍄, Hành Phi chưa thơm và hơi ít. 🙃
                            Về cơn bản thì Xôi ở đây khá ngon, tuy nhiên Kai có một góp ý nhỏ cho quán là nếu Thịt Kho được để trên lửa để giữ nóng và các nguyên liệu như Lạp Xưởng, Chả Lụa được kho chung luôn thì sẽ ngon hơn. 😚
                            Quán có bán Sữa Đậu Nành🥛 (10K/ Ly) không đá nên nhiều lắm, uống 2 người được luôn á. Sữa béo thơm Kai gọi không đường nên ăn Xôi siêu hợp luôn. 👍🏻
                            .
                            Quán nằm ngay trung tâm Sài Gòn. Không biết mở lâu chưa mà Kai thấy khá đông á. Chị chủ siêu dễ thương, phục vụ vũng nhanh nữa nên DUYỆT......✅✅✅✅✅✅
                            
                            Cre: Phương - Thánh Riviu.    
                            
                           
                            
                            </div>
                    </div>

                    <div class="tags-wrapper d-flex my-2" style="flex-flow: wrap;">
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodieHoChiMinh
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #foodblogger
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #riviu2022
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #HCMfood
                            </div>
                        </a>
                        <a href="#" class="m-0">
                            <div class="text-tag mt-2">
                                #anphowithme
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #SaiGon
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #reviewfood
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #foodie
                            </div>
                        </a>
                        <a href="#"  class="m-0">
                            <div class="text-tag mt-2">
                                #TPHoChiMinh
                            </div>
                        </a>
                    </div>

                    <div class="place-wrapper d-flex justify-content-center ">
                        <div class="row w-100">
                            <div class="info-wrapper col-md-2 col-sm-2">
                                <div class="img-wrapper d-flex justify-content-center">
                                    <a href="">
                                        <img src="../public/images/foods/xoi/avatar.jpg" class="" alt="">
                                    </a>
                                </div>
                            </div>
    
                            <div class="place-info col-md-9 col-sm-9">
                                <a href="#">
                                    <div class="title ">Xôi Bắc - Ngô Thời Nhiệm</div>
                                </a>
    
                                <h6 class="address">
                                    81 Ngô Thời Nhiệm, Phường 06, Quận 3, Hồ Chí Minh
                                </h6>
                                
                                <div class="ratting-content">
                                    <div class="item-rating">
                                        <i class=""><img src="../public/images/iconStart.png" alt=""></i> 
                                        <span style="font-weight: bold;">Chưa có đánh giá</span> 
                                        <span style="color: rgb(112, 112, 112);">(5 Riviu)</span>
                                    </div>
                                </div>
    
                            </div>

                            <div class="col-md-1 col-sm-1 write-review d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container-comment mt-4">
                        <div class="title d-flex">
                            <span class="flex-grow-1" style="cursor: pointer;">
                                <i class="ti-heart"></i>
                                522 người yêu thích
                            </span>
                            <b class="" style="float: right;">1 bình luận</b>
                        </div>

                        <div class="commentaction">
                            <div class="d-flex">
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-heart"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-comment"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-share-alt"></i>
                                    </div>
                                </div>
                                <div class="item-action mt-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ti-bookmark-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-comment">
                            <div class="comment-detail align-items-stretch mb-1 mt-3 d-flex">
                                <a href="#" class="avatar">
                                    <img src="../public/images/avater2.png" alt="">
                                </a>

                                <div class="comment-info flex-fill">
                                    <div class="commemt-name">
                                        <a href="#">
                                            <b>Thai An</b>
                                        </a>
                                        <small class="">22/02/2024 lúc 23:04</small>
                                        <p class="mt-2" style="font-size: 16px;">Mình rất ấn tượng hương vị xôi ở đây :3 nêm nếm khá vừa vặn và khá ngon với mình cảm ơn bạn phương chỉ thích ăn xôi đã rì viu địa điểm này!!<br><span class="rep">Trả lời</span></p>
                                    </div>   
                                </div>


                                <i class="ti-heart"></i>
                            </div>


                        </div>

                        <div class="comment-banner">
                            <a href="#">
                                <img src="../public/images/banner/banner.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-container col-sm-4 col-md-4 col-4">
                <div class="container-register mt-3 mb-3">
                    <div class="">
                        <div class="author-img" style="width: 70px;">
                            <a href="./post-profile-thanhphuong.html">
                                <img src="../public/images/avatars/avt-phuong.jpg" style="width: 70px;" class="rounded-circle" alt="">
                            </a>
                        </div>                        
                        <div class="author-info ml-3">
                            <a  href="./post-profile-thanhphuong.html" class="author-name " >
                                <p  class="m-0"><b>Phương chỉ ăn xôi :v</b>
                                    <img  src="../public/images/level.png" class="img-level-user">
                                </p>
                                <div class="text-muted">@thanhphuong</div>
                            </a>
                        </div>
                    </div>

                    <div class="line">

                    </div>

                    <div class="author-summary row mb-3">
                        <div class="info-data col">
                            <b>1</b>
                            <div class="text-muted">Bài viết</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Người theo dõi</div>
                        </div>
                        <div class="info-data col">
                            <b>0</b>
                            <div class="text-muted">Đang theo dõi</div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 advert">
                    <div class="" style="margin-bottom: 40px; margin-top: 10px;">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner1.png" height="100%" width="100%" alt="">
                        </a>
                    </div>

                    <div class="">
                        <a href="#" class="">
                            <img src="../public/images/banner/banner2.png" height="100%" width="100%" alt="">
                        </a>
                    </div>
                </div>

                <!-- loader advert -->
                <div class="banner-3">

                </div>

                <div class="right-facebook">
                    <div class="f-title row">
                        <div class="d-flex">
                            <a href="#" style="color: white;     text-shadow: 0 2px 4px rgba(0, 0, 0, .9);" >
                                <img src="../public/images/logo.png" alt="" style="box-shadow: 0 1px 6px rgba(0, 0, 0, .5);">
                            </a>
                            <div class="flex-fill" style="color: white;     text-shadow: 0 2px 4px rgb(0, 0, 0);">                                 
                                <a href="https://www.facebook.com/riviuofficial" target="_blank">
                                    Thánh Riviu - Riviu.vn 
                                </a>
                                <p class="" >2,949,523 followers</p>
                            </div>

                            <i><img src="../public/images/check.png" width="19px" alt=""></i>
                        </div>
                    </div>

                    <div class="f-footer row">
                        <div class="d-flex">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="left-btn">
                                    <i class="ti-facebook"></i>
                                    <a href="#">Follow Page</a>
                                </div>
                            </div>
    
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="right-btn ">
                                    <i class="ti-sharethis-alt"></i>
                                    <a href="#">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="related-post-wrapper">
                    <h2 class="bold title-panel">Bài viết tương tự</h2>
                    <div class="line"></div>
                    <div class="">
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/xoi/post1.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Speit Tea And Cheese</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-xoi1.png" alt="">
                                                <div class="text-muted">biteallfood</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/xoi/post5.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Nha Nha Bakery</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-xoi5.png" alt="">
                                                <div class="text-muted">tieumuoi</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/xoi/post2.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Speit Tea And Cheese</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-xoi2.jpeg" alt="">
                                                <div class="text-muted">samlacareview</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/xoi/post3.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">Góc Đà Lạt - Em ở đâu?</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-xoi3.jpeg" alt="">
                                                <div class="text-muted">Quin Nguyen</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="post-item mb-4">
                            <div class="item-info">
                                <div class="item-data d-flex justify-content-center">
                                    <div class="img-avatar">
                                        <img src="../public/images/foods/xoi/post4.jpeg" class="" alt="">
                                    </div>

                                    <div class="post-info" style="width: 60%;">
                                        <div class="post-title">tại Thiên Ân Bakery & Coffe</div>
                                        <div class="post-user" >
                                            <div class="img-post d-flex align-items-center">
                                                <img src="../public/images/avatars/avt-xoi4.png" alt="">
                                                <div class="text-muted">Bùi Thị Ánh Duyên</div>
                                            </div>
                                            <div style="display: inline-block; float: right; cursor: pointer;">
                                                <i class="ti-heart"></i> 
                                                <span class="text-normal-gray" style="font-size: 14px; margin: 3px;">123</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <a href="#" id="btnScrollTop" class="d-flex align-items-center justify-content-center">
            <i class="ti-arrow-up"></i>
        </a>
    </div>

    <script src="../public/js/bootstraps/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/js/post.js"></script>

</body>
</html>